<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Student - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="tcet_logo"><img src="{{ url_for('static', filename='images/tcetlogo.png') }}" alt="logo" style="width: 45px;"></div>
                    <div class="sidebar-brand-text mx-3"><span>TCET</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/view"><i class="fas fa-table"></i><span>View Attendance</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/todo"><i class="fas fa-tasks"></i><span>To-Do List</span></a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Class Chat</span></a></li> -->
                    <li class="nav-item"><a class="nav-link" href="/viewtimetable"><i class="fas fa-calendar-alt"></i><span>View Time-Table</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/view_notice"><i class="fas fa-bell"></i><span>Notices</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/viewresult"><i class="fas fa-graduation-cap"></i><span>View Result</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper" style="align-items: center; color: black; ">
            <h1 style="margin-top: 300px;">Welcome To Tcet</h1>
            <h2>AIML Batch 2</h2>
            <h3>"Please pay your <b>FEES</b> as soon as possible" ~ Bhen Ka Mishra(Princlpal)</h3>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
    
</body>

</html>