<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="myDIV" class="header">
        <h2>My To Do List</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
      </div>
      
      <ul id="myUL">
        <!-- <li>Hit the gym</li>
        <li class="checked">Pay bills</li>
        <li>Meet George</li>
        <li>Buy eggs</li>
        <li>Read a book</li>
        <li>Organize office</li> -->
      </ul>
      <br>
      <br>
      <form action="{{ url_for('auth.home') }}">
		    <button type="submit" class="btn1 btn-primary"> 
			    Home
		    </button>
	    </form>
      <script src="{{ url_for('static', filename='todo.js') }}"></script>
</body>
</html>